@import url('<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(99, 77, 77);
    background-size: cover;
    background-position: center;
}

#particles-js{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
   top: 0;
   left: 0;

}

#home{
    position:relative;
    font-size: 5em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
}
.navigation a{
 position:relative;
 font-size: 1.1em;
 color: #fff;
 text-decoration: none;
 font-weight: 500;
 margin: 40px;
}
 .navigation a::after{
    content: '';
    position: absolute;
    width: 105%;
    left: 0;
    bottom: -6px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .6s;
 } 

 .navigation a:hover::after {
    transform-origin:left;
    transform: scaleX(1);
 }

 .body{
    height: 300px;
    width: 450px;
    border: 2px solid white;
    border-radius: 5px;
 }